# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias del proyecto
node_modules/

# Archivos específicos del sistema operativo
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de editores de código
.vscode/*
!.vscode/extensions.json
.idea

# Archivos generados automáticamente
*.local

# Archivos del directorio public
public/vite.svg

# Ignorar los archivos de compilación
/dist/

# Archivos de configuración del entorno
.env
.env.*
