/* block-Content */
.pf-presentation-content {
    /*height: 50vh;*/
}

.pf-presentation {
    text-align: left;
    width: 60%;
}

.pf-presentation-title {
    font-size: 2em;
    margin: 0 0 0 2rem;
    font-weight: bold;
}

.pf-presentation-description {
    font-size: 1.5em;
    margin: 0 0 0 2rem;
    font-weight: bold;
}

/* block-reveal */
.block-reveal {
    --t: calc(var(--td) + var(--d));

    color: transparent;
    padding: 4px;

    position: relative;
    overflow: hidden;
}

.pf-presentation-title {
    animation: revealBlock 0s var(--t) forwards;
}

.pf-presentation-description {
    animation: revealBlock2 0s var(--t) forwards;
}


.block-reveal::after {
    content: '';

    width: 0%;
    height: 100%;
    padding-bottom: 4px;

    position: absolute;
    top: 0;
    left: 0;

    background: var(--bc);
    animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

/* animations */
@keyframes revealBlock {
    100% { color: #f9ebc4; }
}

@keyframes revealBlock2 {
    100% { color: #fc2f68; }
}

@keyframes revealingIn {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes revealingOut {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}