.pf-skill {
    display: flex;
    flex-direction: column;
    /*height: 50vh;*/
}

.pf-skill-title {
    font-size: 2em;
    color: #b23bbd;
    font-weight: bold;
    margin: 0 0 2rem 2rem;
}

.pf-skill-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 2rem;
}

.pf-skill-content-contain {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.pf-skill-list {
    display: flex;
    align-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}

.pf-skill-list li {
    list-style: none;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4em .8em;
    border: 1px solid #b23bbd;
    border-radius: 8px;
    color: #623bbd;
    font-weight: bold; 
}

.pf-skill-list span {
    font-size: 2em;
    margin-right: 1rem;
}

/* Media Query para móviles */
@media (max-width: 768px) {
    .pf-skill-list li {
        width: 150px; /* Ajuste del tamaño de los botones en móvil */
    }
}

@media (max-width: 480px) {
    .pf-skill-list li {
        width: 120px; /* Ajuste aún más pequeño para pantallas muy pequeñas */
    }
}